<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background: linear-gradient(to bottom right, #ffffff, #f0f8ff);
            /* Light linear gradient background */
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* Full viewport height */
        }

        .booking-box {
            background-color: rgba(255, 255, 255, 0.8);
            /* Semi-transparent white background */
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            /* Soft shadow effect */
            width: 400px;
        }

        h1 {
            text-align: center;
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            margin-bottom: 10px;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="date"],
        input[type="number"],
        input[type="submit"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }
        #footer{
                padding: 0;
                background: linear-gradient(45deg, #0b0b0b, #b26821);
                border-top-right-radius: 15px;
                box-shadow: 1px 1px 6px 0px #eac073;
                font-size: x-small;
                width: 100%;
                height: 40px;
                color: #fff;
                position: fixed;
                bottom: 0%;
            }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="
    background: linear-gradient(45deg, #0b0b0b, #b26821);
    border-bottom-left-radius: 15px;
    box-shadow: 1px 1px 6px 0px #eac073;">

        <div class="container-fluid">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="30" fill="orange" class="bi bi-train-front-fill"
                viewBox="0 0 16 16">
                <path
                    d="M10.621.515C8.647.02 7.353.02 5.38.515c-.924.23-1.982.766-2.78 1.22C1.566 2.322 1 3.432 1 4.582V13.5A2.5 2.5 0 0 0 3.5 16h9a2.5 2.5 0 0 0 2.5-2.5V4.583c0-1.15-.565-2.26-1.6-2.849-.797-.453-1.855-.988-2.779-1.22ZM6.5 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1m-2 2h7A1.5 1.5 0 0 1 13 5.5v2A1.5 1.5 0 0 1 11.5 9h-7A1.5 1.5 0 0 1 3 7.5v-2A1.5 1.5 0 0 1 4.5 4m.5 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m0 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0m8 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-3-1a1 1 0 1 1 0 2 1 1 0 0 1 0-2M4 5.5a.5.5 0 0 1 .5-.5h3v3h-3a.5.5 0 0 1-.5-.5zM8.5 8V5h3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5z" />
            </svg>
            <a class="navbar-brand" style="color: #ffff;" href="/">INDIAN RAILWAYS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link active" style="text-align: end;" href="/booking_history">History</a>
                    <a class="nav-link active" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="booking-box">
            <h1>Booking Page</h1>
            <% if(error==1) { %>
                <p class="error-message">Please provide a valid number of seats</p>
                <% } %>
                    <% if(error==2) { %>
                        <p class="error-message">Please provide a valid date</p>
                        <% } %>
                            <% for (var i=0; i < data.length; i++) { %>
                                <p>Train Name: <%= data[i].name %>
                                </p>
                                <p>Boarding From: <%= data[i].source %>
                                </p>
                                <p>Destination: <%= data[i].destination %>
                                </p>
                                <p>Boarding Time: <%= data[i].start_time %>
                                </p>
                                <% } %>
                                    <% if(!book_data) { %>
                                        <form action="/book/<%= data[0].train_no%>" method="POST">
                                            <label for="date">Enter Date:</label>
                                            <input type="date" name="date" id="date">
                                            <label for="class">Enter Seat Type:</label>
                                            <select name="class" id="class">
                                                <option value="1A">1A</option>
                                                <option value="SL">SL</option>
                                            </select>
                                            <input type="submit" value="Book">
                                        </form>
                                        <% } %>
                                            <% if(book_data) { %>
                                                <p>SEATS AVAILABLE: <%= book_data.seats_available %>
                                                </p>
                                                <p>Enter the number of seats you want to book and confirm your booking
                                                </p>
                                                <p>The ticket amount will be debited from your bank account.</p>
                                                <form action="/book_ticket/<%= data[0].train_no%>" method="POST">
                                                    <label for="no_of_seats">Enter number of seats:</label>
                                                    <input type="number" name="no_of_seats" id="no_of_seats">
                                                    <input type="submit" value="Confirm Booking">
                                                </form>
                                                <% } %>
        </div>
    </div>

    <footer id="footer">
        <center>
            <h3>
                &copy; reserved And Design developed by Tejas,Vansh
            </h3>
        </center>
    </footer>
</body>

</html>