<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Ticket</title>
</head>

<style>
    h1 {
        text-align: center;
        font-size: 40px;
        /* Increased font size */
        color: #333;
        /* Text color */
    }

    .transbox {
        margin: 30px auto;
        width: 800px;
        padding: 20px;
        background-color: #f0f0f0;
        /* Light background color */
        border: 2px solid #666;
        /* Border color */
        border-radius: 10px;
        /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        /* Box shadow */
    }

    .transbox h1,
    .transbox h4,
    .transbox p,
    .transbox h3,
    .transbox h5,
    .transbox a {
        font-size: 24px;
        /* Increased font size */
        margin: 10px;
        color: #333;
        /* Text color */
    }

    .transbox h4 {
        font-weight: bold;
    }

    #content {
        display: flex;
        justify-content: space-between;
    }

    #package_update,
    #previous_update {
        width: 45%;
    }

    .transbox h3,
    .transbox h5 {
        text-align: right;
    }

    .transbox a {
        text-decoration: none;
        color: #007bff;
        /* Link color */
    }

    .transbox a:hover {
        text-decoration: underline;
    }
</style>

<body>

    <h1>Your Ticket Is Ready</h1>

    <div class="transbox">
        <h1>HAPPY JOURNEY</h1>
        <h4>Ticket No: <%=data[0].book_id%>
        </h4>
        <div id="content">
            <div id="package_update">
                <p>Train No: <%=data[0].train_no%>
                </p>
                <p>From: <%=data[0].source%>
                </p>
                <p>To: <%=data[0].destination%>
                </p>
            </div>
            <div id="previous_update">
                <p>Date: <%= data[0].date %>
                </p>
                <p>No. Of Seats: <%=data[0].no_of_seats%>
                </p>
                <p>Ticket Price: <%=data[0].price%>
                </p>
                <h3>This is a computer-generated ticket, no signature required.</h3>
            </div>
        </div>
        <div style="text-align: right;"><a href="/">Return to home</a></div>
    </div>

</body>

</html>